*.gem
.bundle
.ruby-version
.jekyll-cache
.sass-cache
_site
node_modules
.DS_Store
_includes
_layouts
_sass
.devcontainer
.github
.vscode
assets
bin
fixtures
lib
404.html
CHANGELOG.md
CODE_OF_CONDUCT.md